<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>视频管理</title>
</head>
<body>
<div class="layui-btn-add">
    <button class="layui-btn" id="add">添加视频</button>
</div>
<div class="layui-form-search layui-row layui-top">
    <form class="layui-form layui-col-md12">
        <div class="layui-form-item layui-row">
            <div class="layui-col-md3">
                <label class="layui-form-label">上级分类：</label>
                <div class="layui-input-inline" style="width: 190px;position: relative">
                    <input type="text" class="layui-input" style="width: 190px;" id="categoryName"
                           readonly="readonly">
                    <span class="department-x">X</span>
                    <input type="hidden" class="layui-input" id="categoryId" name="categoryId">
                    <ul class="department" style="width:188px;" id="categorySearch"></ul>
                </div>
            </div>
            <div class="layui-col-md3">
                <label class="layui-form-label">标题：</label>
                <div class="layui-inline">
                    <input name="title" class="layui-input"/>
                </div>
            </div>
            <div class="layui-col-md1">
                <button class="layui-btn" lay-submit lay-filter="search">查询</button>
            </div>
        </div>
    </form>
</div>
<div class="layui-table-fulltimelist" style="margin-top:0px;">
    <table class="layui-hide" id="video-manage" lay-filter="video"></table>
</div>
<script type="text/html" id="operation">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
</script>
<script type="text/html" id="addHtml">
    <form class="layui-form" style="margin-top: 10px;">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">上级分类：</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" style="width: 190px;" id="pname" name="pname"
                           readonly="readonly">
                    <input type="hidden" class="layui-input" id="pid" name="pid" lay-verify="required">
                    <ul class="department" id="pSearch" style="width: 188px"></ul>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">标题：</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" lay-verify="required" id="title"
                           placeholder="请填写标题">
                </div>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">描述：</label>
            <div class="layui-input-inline" style="width: 80%">
                <textarea style="width: 100%" placeholder="请输入描述" lay-verify="required" id="describe" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">大图：</label>
                <div class="layui-input-inline">
                    <button type="button" class="layui-btn layui-btn-primary"  style='line-height: 20px;'id="uploadBigImg">
                        <i class="layui-icon"></i>
                        上传图片
                    </button>
                    <div id="bigImgFiles" style="margin-top: 5px"></div>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">封面：</label>
                <div class="layui-input-inline">
                    <button type="button" class="layui-btn layui-btn-primary"  style='line-height: 20px;'id="uploadImg">
                        <i class="layui-icon"></i>
                        上传图片
                    </button>
                    <div id="imgFiles" style="margin-top: 5px"></div>
                </div>
            </div>
        </div>
        <fieldset class="layui-elem-field layui-field-title">
            <legend>视频</legend>
            <div style="margin-left:125px; margin-top: 10px;" id="url">
                <button type="button" class="layui-btn layui-btn-primary"  style='line-height: 20px;'id="uploadUrl">
                    <i class="layui-icon"></i>
                    上传视频
                </button>
                <div id="urlFiles" style="margin-top: 5px"></div>
            </div>
        </fieldset>
        <div class="layui-form-item">
            <label class="layui-form-label">教学视频:</label>
            <div class="layui-input-block">
                <input type="radio" name="isEdu" value="0" title="否" checked="">
                <input type="radio" name="isEdu" value="1" title="是">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">推荐首页:</label>
            <div class="layui-input-block">
                <input type="radio" name="isHead" value="0" title="否" checked="">
                <input type="radio" name="isHead" value="1" title="是">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">排序：</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" lay-verify="sort" name="sort" maxlength="8"
                           placeholder="请填写排序">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">备注：</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="remark" placeholder="请填写备注">
                </div>
            </div>
        </div>
    </form>
</script>
<script type="text/html" id="editHtml">
    <form class="layui-form" style="margin-top: 10px;">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">上级分类：</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" style="width: 190px;" id="pname" name="pname"
                           readonly="readonly" value="{{d.name}}">
                    <input type="hidden" class="layui-input" id="pid" name="pid"  value="{{d.categoryId}}">
                    <ul class="department" id="pSearch" style="width: 188px"></ul>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">标题：</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input"  value="{{d.title}}" id="title"
                           placeholder="请填写标题">
                </div>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">描述：</label>
            <div class="layui-input-inline" style="width: 80%">
                <textarea style="width: 100%" placeholder="请输入描述" id="describe" class="layui-textarea">{{d.describe}}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">大图：</label>
                <div class="layui-input-inline">
                    <button type="button" class="layui-btn layui-btn-primary"  style='line-height: 20px;'id="uploadBigImg">
                        <i class="layui-icon"></i>
                        上传图片
                    </button>
                    <div id="bigImgFiles" style="margin-top: 5px">
                        <img style="width: 140px;height: 82px;" src="{{d.bigImg}}"/>
                    </div>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">封面：</label>
                <div class="layui-input-inline">
                    <button type="button" class="layui-btn layui-btn-primary"  style='line-height: 20px;'id="uploadImg">
                        <i class="layui-icon"></i>
                        上传图片
                    </button>
                    <div id="imgFiles" style="margin-top: 5px">
                        <img style="width: 140px;height: 82px;" src="{{d.img}}"/>
                    </div>
                </div>
            </div>
        </div>
        <fieldset class="layui-elem-field layui-field-title">
            <legend>视频</legend>
            <div style="margin-left:125px; margin-top: 10px;" id="url">
                <button type="button" class="layui-btn layui-btn-primary"  style='line-height: 20px;'id="uploadUrl">
                    <i class="layui-icon"></i>
                    上传视频
                </button>
                <div id="urlFiles" style="margin-top: 5px">
                    <a style="color: #01AAED;" href="{{d.url}}" target="_blank">查看</a>
                </div>
            </div>
        </fieldset>
        <div class="layui-form-item">
            <label class="layui-form-label">教学视频:</label>
            <div class="layui-input-block">
                {{# if(d.isEdu == '1'){ }}
                <input type="radio" name="isEdu" value="0" title="否" >
                <input type="radio" name="isEdu" value="1" title="是" checked="">
                {{# }else{ }}
                <input type="radio" name="isEdu" value="0" title="否" checked="">
                <input type="radio" name="isEdu" value="1" title="是">
                {{# } }}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">推荐首页:</label>
            <div class="layui-input-block">
                {{# if(d.isHead == '1'){ }}
                <input type="radio" name="isHead" value="0" title="否" >
                <input type="radio" name="isHead" value="1" title="是" checked="">
                {{# }else{ }}
                <input type="radio" name="isHead" value="0" title="否" checked="">
                <input type="radio" name="isHead" value="1" title="是">
                {{# } }}
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">排序：</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" lay-verify="sort" id="sort" maxlength="8" value="{{d.sort}}"
                               placeholder="请填写排序">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">备注：</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="remark"  value="{{d.remark}}" placeholder="请填写备注">
                    </div>
                </div>
            </div>
        </div>
    </form>
</script>
<script type="text/html" id="bigImgHtml">
    <a style="color: #01AAED;" href="{{d.bigImg}}" target="_blank">查看</a>
</script>
<script type="text/html" id="imgHtml">
    <a style="color: #01AAED;" href="{{d.img}}" target="_blank">查看</a>
</script>
<script type="text/html" id="urlHtml">
    <a style="color: #01AAED;" href="{{d.url}}" target="_blank">查看</a>
</script>
<script type="text/html" id="isEduHtml">
    {{ d.isEdu == '1' ? '是':'否' }}
</script>
<script type="text/html" id="isHeadHtml">
    {{ d.isEdu == '1' ? '是':'否' }}
</script>
<script>

    layui.use(['form', 'table', 'layer', 'upload', 'laytpl', 'tree'], function () {
        var form = layui.form,
            table = layui.table,
            layer = layui.layer,
            upload = layui.upload,
            laytpl = layui.laytpl;

        form.verify({
            sort: [/^([0-9]*[1-9][0-9]*)?$/, '排序请填写正整数字！']
        });

        $("#categoryName").on('click', function () {
            $("#categorySearch").toggle();
        })

        $(".department-x").on('click', function () {
            $("#categorySearch").hide();
            $("#categoryName").val("");
            $("#categoryId").val("");
        })

        $.post("/manage/category/list", {}, function (result) {
            layui.tree({
                elem: '#categorySearch',
                nodes: result.data,
                click: function (node) {
                    $("#categorySearch").hide();
                    $("#categoryName").val(node.name);
                    $("#categoryId").val(node.id);
                }
            });
        })


        //  初始化分类管理列表
        var videotable = table.render({
            elem: '#video-manage',
            url: '/manage/video/findList',
            page: 'true',
            limit: '10',
            cols: [[
                {field: 'pname', width: 200, title: '分类名称'},
                {field: 'title', width: 150, title: '标题'},
                {field: 'describe', width: 180, title: '描述'},
                {field: 'isEdu', width: 120, title: '教学视频', templet: '#isEduHtml'},
                {field: 'isHead', width: 120, title: '首页推荐', templet: '#isHeadHtml'},
                {field: 'bigImg', width: 100, title: '大图', templet: '#bigImgHtml'},
                {field: 'img', width: 100, title: '封面', templet: '#imgHtml'},
                {field: 'url', width: 100, title: '视频链接', templet: '#urlHtml'},
                {field: 'sort', width: 80, title: '排序'},
                {field: 'remark', width: 150, title: '备注'},
                {title: '操作', width: 120, fix: 'right', align: 'center', toolbar: '#operation'}
            ]]
        });

        table.on('tool(video)', function (obj) {
            var data = obj.data;
            if (obj.event == "delete") {
                layer.confirm('确定删除该视频？', {
                    btn: ['确定', '取消']
                }, function () {
                    $.post('/manage/video/delete', data, function (res) {
                        if (res.code == 0) {
                            debugger;
                            layer.msg('删除视频成功！');
                            videotable.reload();
                        } else {
                            layer.msg(res.msg);
                        }
                    })
                }, function () {
                })
            }
            else if (obj.event == "edit") {
                var editpage = editHtml.innerHTML;
                laytpl(editpage).render(data, function (html) {
                    layer.open({
                        type: 1,
                        title: '修改视频',
                        content: html,
                        area: ['800px', '700px'],
                        btn:['确定','取消'],
                        yes: function (index, layero) {
                            var params = {};
                            params.id = data.id;
                            var pid = $("#pid").val();
                            if (!pid) {
                                layer.msg('请选择分类')
                                return false;
                            }
                            params.categoryId = pid;
                            var title = $("#title").val();
                            if (!title) {
                                layer.msg('请填写标题')
                                return false;
                            }
                            params.title = title;
                            var describe = $("#describe").val();
                            if (!describe) {
                                layer.msg('请填写描述')
                                return false;
                            }
                            params.describe = describe;
                            var bigImg = $("#bigImgFiles").find("img").attr('src');
                            if (!bigImg) {
                                layer.msg('请上传大图')
                                return false;
                            }
                            params.bigImg = bigImg;
                            var img = $("#imgFiles").find("img").attr('src');
                            if (!img) {
                                layer.msg('请上传封面')
                                return false;
                            }
                            params.img = img;
                            var url = $("#urlFiles").find("a").attr('href');
                            if (!url) {
                                layer.msg('请上传视频')
                                return false;
                            }
                            params.url = url;
                            var isEdu = $("input[name='isEdu']:checked").val();
                            params.isEdu = isEdu;
                            var isHead = $("input[name='isHead']:checked").val();
                            params.isHead = isHead;
                            var sort = $("#sort").val();
                            if (!sort) {
                                layer.msg('请填写排序')
                                return false;
                            }
                            params.sort = sort;
                            var remark = $("#remark").val();
                            params.remark = remark;

                            console.log(params)
                            $.post('/manage/video/form', params, function (result) {
                                if (result.code === 0) {
                                    videotable.reload();
                                    layer.closeAll();
                                } else {
                                    layer.msg(result.msg);
                                    return false;
                                }
                            });
                            return false;
                        }
                    });

                    $("#pname").on('click', function () {
                        $("#pSearch").toggle();
                    })

                    $.post("/manage/category/list", {}, function (result) {
                        layui.tree({
                            elem: '#pSearch',
                            nodes: result.data,
                            click: function (node) {
                                $("#pSearch").hide();
                                $("#pname").val(node.name);
                                $("#pid").val(node.id);
                            }
                        });
                    })

                    upload.render({
                        elem: '#uploadBigImg'
                        , url: '/file/uploadFile'
                        , accept: 'file' //普通文件
                        , size: 5120
                        , exts: 'png|jpg',
                        before: function (obj) {
                            index = layer.load(1, {
                                shade: [0.1,'#fff'] //0.1透明度的白色背景
                            });
                        }
                        , done: function (res) {
                            layer.close(index);
                            if (res.code == 0) {
                                layer.msg('上传成功！');
                                $("#bigImgFiles").empty();
                                $("#bigImgFiles").append('<img style="width: 140px;height: 82px;" src="'+res.data+'"/>')
                            } else {
                                layer.msg('上传失败，请重新上传！');
                            }
                        }
                    });

                    upload.render({
                        elem: '#uploadImg'
                        , url: '/file/uploadFile'
                        , accept: 'file' //普通文件
                        , size: 5120
                        , exts: 'png|jpg',
                        before: function (obj) {
                            index = layer.load(1, {
                                shade: [0.1,'#fff'] //0.1透明度的白色背景
                            });
                        }
                        , done: function (res) {
                            layer.close(index);
                            if (res.code == 0) {
                                layer.msg('上传成功！');
                                $("#imgFiles").empty();
                                $("#imgFiles").append('<img style="width: 140px;height: 82px;" src="'+res.data+'"/>')
                            } else {
                                layer.msg('上传失败，请重新上传！');
                            }
                        }
                    });

                    upload.render({
                        elem: '#uploadUrl'
                        , url: '/file/uploadVideo'
                        , accept: 'file' //普通文件
                        , size: 1048576,
                        before: function (obj) {
                            index = layer.load(1, {
                                shade: [0.1,'#fff'] //0.1透明度的白色背景
                            });
                        }
                        , done: function (res) {
                            layer.close(index);
                            if (res.code == 0) {
                                layer.msg('上传成功！');
                                $("#urlFiles").empty();
                                $("#urlFiles").append('<a style="color: #01AAED;" href="'+res.data+'">查看</a>')
                            } else {
                                layer.msg('上传失败，请重新上传！');
                            }
                        }
                    });

                });
                form.render();
            }
        })

        $('#add').on('click', function (e) {
            var addpage = addHtml.innerHTML;
            var layindex = layer.open({
                type: 1,
                title: '添加视频',
                content: addpage,
                area: ['800px', '700px'],
                btn:['确定','取消'],
                yes: function (index, layero) {
                    var params = {};
                    var pid = $("#pid").val();
                    if(!pid){
                        layer.msg('请选择分类')
                        return false;
                    }
                    params.categoryId = pid;
                    var title = $("#title").val();
                    if(!title){
                        layer.msg('请填写标题')
                        return false;
                    }
                    params.title = title;
                    var describe = $("#describe").val();
                    if(!describe){
                        layer.msg('请填写描述')
                        return false;
                    }
                    params.describe = describe;
                    var bigImg = $("#bigImgFiles").find("img").attr('src');
                    if(!bigImg){
                        layer.msg('请上传大图')
                        return false;
                    }
                    params.bigImg = bigImg;
                    var img = $("#imgFiles").find("img").attr('src');
                    if(!img){
                        layer.msg('请上传封面')
                        return false;
                    }
                    params.img = img;
                    var url = $("#urlFiles").find("a").attr('href');
                    if(!url){
                        layer.msg('请上传视频')
                        return false;
                    }
                    params.url = url;
                    var isEdu = $("input[name='isEdu']:checked").val();
                    params.isEdu = isEdu;
                    var isHead = $("input[name='isHead']:checked").val();
                    params.isHead = isHead;
                    var sort = $("#sort").val();
                    if (!sort) {
                        layer.msg('请填写排序')
                        return false;
                    }
                    params.sort = sort;
                    var remark = $("#remark").val();
                    params.remark = remark;

                    console.log(params)
                    $.post('/manage/video/form', params, function (result) {
                        if (result.code === 0) {
                            videotable.reload();
                            layer.closeAll();
                        } else {
                            layer.msg(result.msg);
                            return false;
                        }
                    });
                    return false;
                }
            });

            var index;

            upload.render({
                elem: '#uploadBigImg'
                , url: '/file/uploadFile'
                , accept: 'file' //普通文件
                , size: 5120
                , exts: 'png|jpg',
                before: function (obj) {
                    index = layer.load(1, {
                        shade: [0.1,'#fff'] //0.1透明度的白色背景
                    });
                }
                , done: function (res) {
                    layer.close(index);
                    if (res.code == 0) {
                        layer.msg('上传成功！');
                        $("#bigImgFiles").empty();
                        $("#bigImgFiles").append('<img style="width: 140px;height: 82px;" src="'+res.data+'"/>')
                    } else {
                        layer.msg('上传失败，请重新上传！');
                    }
                }
            });

            upload.render({
                elem: '#uploadImg'
                , url: '/file/uploadFile'
                , accept: 'file' //普通文件
                , size: 5120
                , exts: 'png|jpg',
                before: function (obj) {
                    index = layer.load(1, {
                        shade: [0.1,'#fff'] //0.1透明度的白色背景
                    });
                }
                , done: function (res) {
                    layer.close(index);
                    if (res.code == 0) {
                        layer.msg('上传成功！');
                        $("#imgFiles").empty();
                        $("#imgFiles").append('<img style="width: 140px;height: 82px;" src="'+res.data+'"/>')
                    } else {
                        layer.msg('上传失败，请重新上传！');
                    }
                }
            });

            upload.render({
                elem: '#uploadUrl'
                , url: '/file/uploadVideo'
                , accept: 'file' //普通文件
                , size: 1048576,
                before: function (obj) {
                    index = layer.load(1, {
                        shade: [0.1,'#fff'] //0.1透明度的白色背景
                    });
                }
                , done: function (res) {
                    layer.close(index);
                    if (res.code == 0) {
                        layer.msg('上传成功！');
                        $("#urlFiles").empty();
                        $("#urlFiles").append('<a style="color: #01AAED;" href="'+res.data+'">查看</a>')
                    } else {
                        layer.msg('上传失败，请重新上传！');
                    }
                }
            });

            $("#pname").on('click', function () {
                $("#pSearch").toggle();
            })

            $.post("/manage/category/list", {}, function (result) {
                layui.tree({
                    elem: '#pSearch',
                    nodes: result.data,
                    click: function (node) {
                        $("#pSearch").hide();
                        $("#pname").val(node.name);
                        $("#pid").val(node.id);
                    }
                });
            })
            form.render();
        })

        form.on('submit(search)', function (obj) {
            videotable.reload({
                where: obj.field
            });
            return false;
        });

    })
</script>
</body>
</html>