<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zx.system.mapper.FeedbackMapper">

    <!--查看总数-->
    <select id="findListCount" resultType="Integer">
        SELECT COUNT(0) FROM feedback
        WHERE delFlag != '1'
        <if test="startTime != null and startTime !=''">
            AND DATE_FORMAT(addTime, '%Y-%m-%d') &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime !=''">
            AND DATE_FORMAT(addTime, '%Y-%m-%d') &lt;= #{endTime}
        </if>
    </select>

    <!--查看列表-->
    <select id="findList" resultType="com.zx.system.entity.Feedback">
        SELECT a.id,b.username,a.view,DATE_FORMAT(a.addTime, '%Y-%m-%d %H:%i:%s') addTime
        FROM feedback a
        LEFT JOIN sys_user b ON a.userId = b.id
        WHERE a.delFlag != '1'
        <if test="startTime != null and startTime !=''">
            AND DATE_FORMAT(a.addTime, '%Y-%m-%d') &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime !=''">
            AND DATE_FORMAT(a.addTime, '%Y-%m-%d') &lt;= #{endTime}
        </if>
        ORDER BY a.addTime DESC
        LIMIT #{page},#{limit}
    </select>

    <insert id="insert">
        INSERT INTO feedback (id,userId,view,delFlag,addUserId,addTime)
        VALUE (#{id},#{name},#{view},#{delFlag},#{userId},#{addTime})
    </insert>


</mapper>